$h-padding: 20px;
$v-padding: 10px;
$double-more-h-p: calc($h-padding * 2);
$double-less-h-p: calc($h-padding / 2);

.dashboard {
  grid-area: dash;
  width: var(--dashboard-width);
  height: 100%;
  color: var(--dashboard-font-color);
  background-color: var(--dashboard-bg-color);
  transition: width var(--transition-time);

  .text,
  h1 {
    display: none;
  }

  .media-object {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    cursor: pointer;
    padding: $v-padding $h-padding;
    font-size: var(--scale1);
    transition: all var(--transition-time);
  }

  .media-object:not(.dashboard-header):hover {
    transform: scale(1.4);
  }

  .media-object:hover .material-icons,
  .media-object:hover .text {
    text-shadow: 1px 1px 2px black;
  }

  .dashboard-header {
    justify-content: flex-start;
    padding: $v-padding 0 0 $double-less-h-p;
    margin-bottom: $double-more-h-p;
    gap: $double-less-h-p;
    font-size: var(--scale0);

    i {
      font-size: 48px;
    }

    h1 {
      margin: 0;
    }
  }

  .settings {
    margin-top: $double-more-h-p;
  }
}

@media screen and (min-height: 540px) {
  .dashboard {
    .wrapper {
      position: sticky;
      left: 0;
      top: 0;
    }
  }
}

@media screen and (min-width: 900px) {
  .dashboard {
    .text,
    h1 {
      display: block;
    }

    .media-object {
      justify-content: flex-start;
    }

    .media-object:not(.dashboard-header):hover {
      transform: scale(1.1);
    }
  }
}
